@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    background-color: #edeef0;
}

/* DRY - Don't Repeat yourself */


/* 
    logotext
    nav-link text
    small header text
    larger text(h1)
    bio heading(h2)
    portfolio, skills, contact(h3)
    (h4)
    p regular text
*/

.logo-text {
    font-size: 3em;
    font-weight: 700;
    color: #f05136;
}

.nav-link {
    font-size: 2em;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 500;
}

.nav-link:hover {
    color: #f05136;
}

header div p {
    font-size: 2.5em;
    font-weight: 200;
}

#portfolio {

    background-color: black;
    color: white;
}

#portfolio,
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#skills-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#skills ul {
    list-style: none;
}

#skills-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills ul li {
    margin: 10px 0;
}

.text {
    background: white;
    color: black;
    height: 170px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    padding: 10px;

}

#portfolio h3,
p,
hr {
    margin-bottom: 20px;
}

hr {
    width: 300px;
}

#home {
    background-color: black;
    color: white;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h3,
h4 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.8em;
}

.link-button {
    text-decoration: none;
    text-align: center;
    background-color: #f05136;
    letter-spacing: 0.5px;
    font-weight: 100;
    cursor: pointer;
    color: white;
    font-size: 1.8em;
    padding: 10px;
    border-radius: 5%;
    border-color: black;
}

.link-button:hover {
    color: white;
}

#bio img {
    width: "250px";
    height: "250px";
    border-radius: 50%;
    margin: 100px;
}

p {
    font-size: 1.5em;
}

progress {
    height: 10px;
    width: 350px;
    -webkit-appearance: none;
}

#bio article * {
    margin: 20px;
}

article p {
    text-align: justify;
}

#portfolio div {
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;

}

progress[value]::-webkit-progress-bar {
    background-color: grey;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25 inset);
}

::-webkit-progress-value {
    background-color: #f05136;
}

#skills ul {
    font-size: 1.5em;
}

#contact {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;

}

.input {
    line-height: 2em;
    width: 350px;
    border-radius: 3px;
    border-color: black;
    margin: 20px 0;
}

#contact form input:last-child {
    margin-top: 30px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav ul li {
    margin: 0 20px;

}

#bio {
    display: flex;
    align-items: center;
}

#skills {
    display: flex;

}

#contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}